.grid-container {
    margin: 0 auto;
    padding-left: 0.35714rem;
    padding-right: 0.35714rem;
    width: 100%;
  }
  
  @media screen and (min-width: 26.25em) {
    .grid-container {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
    }
  }
  @media screen and (min-width: 48em) {
    .grid-container {
      padding-left: 0.71429rem;
      padding-right: 0.71429rem;
    }
  }
  @media screen and (min-width: 64em) {
    .grid-container {
      padding-left: 0.71429rem;
      padding-right: 0.71429rem;
      width: 1004px;
    }
  }
  @media screen and (min-width: 80em) {
    .grid-container {
      padding-left: 0.71429rem;
      padding-right: 0.71429rem;
      width: 1260px;
    }
  }
  @media screen and (min-width: 100em) {
    .grid-container {
      padding-left: 0.71429rem;
      padding-right: 0.71429rem;
      width: 1580px;
    }
  }
  @media screen and (min-width: 120em) {
    .grid-container {
      padding-left: 0.71429rem;
      padding-right: 0.71429rem;
      width: 1900px;
    }
  }
  .grid {
    -ms-flex-flow: row wrap;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
  }
  
  .cell {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    min-height: 0;
    min-width: 0;
    width: 100%;
  }
  
  .cell.auto {
    -ms-flex: 1 1 0px;
    -webkit-box-flex: 1;
    flex: 1 1 0;
  }
  
  .cell.shrink {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
  
  .grid > .auto,
  .grid > .shrink {
    width: auto;
  }
  
  .grid > .xsmall-1 {
    width: 8.33333%;
  }
  
  .grid > .xsmall-2 {
    width: 16.66667%;
  }
  
  .grid > .xsmall-3 {
    width: 25%;
  }
  
  .grid > .xsmall-4 {
    width: 33.33333%;
  }
  
  .grid > .xsmall-5 {
    width: 41.66667%;
  }
  
  .grid > .xsmall-6 {
    width: 50%;
  }
  
  .grid > .xsmall-7 {
    width: 58.33333%;
  }
  
  .grid > .xsmall-8 {
    width: 66.66%;
  }
  
  .grid > .xsmall-9 {
    width: 75%;
  }
  
  .grid > .xsmall-10 {
    width: 83.33333%;
  }
  
  .grid > .xsmall-11 {
    width: 91.66667%;
  }
  
  .grid > .xsmall-12 {
    width: 100%;
  }
  
  @media screen and (min-width: 26.25em) {
    .grid > .small-auto {
      -ms-flex: 1 1 0px;
      -webkit-box-flex: 1;
      flex: 1 1 0;
      width: auto;
    }
  
    .grid > .small-shrink {
      -ms-flex: 0 0 auto;
      -webkit-box-flex: 0;
      flex: 0 0 auto;
      width: auto;
    }
  
    .grid > .small-1 {
      width: 8.33333%;
    }
  
    .grid > .small-2 {
      width: 16.66667%;
    }
  
    .grid > .small-3 {
      width: 25%;
    }
  
    .grid > .small-4 {
      width: 33.33333%;
    }
  
    .grid > .small-5 {
      width: 41.66667%;
    }
  
    .grid > .small-6 {
      width: 50%;
    }
  
    .grid > .small-7 {
      width: 58.33333%;
    }
  
    .grid > .small-8 {
      width: 66.66%;
    }
  
    .grid > .small-9 {
      width: 75%;
    }
  
    .grid > .small-10 {
      width: 83.33333%;
    }
  
    .grid > .small-11 {
      width: 91.66667%;
    }
  
    .grid > .small-12 {
      width: 100%;
    }
  }
  @media screen and (min-width: 48em) {
    .grid > .medium-auto {
      -ms-flex: 1 1 0px;
      -webkit-box-flex: 1;
      flex: 1 1 0;
      width: auto;
    }
  
    .grid > .medium-shrink {
      -ms-flex: 0 0 auto;
      -webkit-box-flex: 0;
      flex: 0 0 auto;
      width: auto;
    }
  
    .grid > .medium-1 {
      width: 8.33333%;
    }
  
    .grid > .medium-2 {
      width: 16.66667%;
    }
  
    .grid > .medium-3 {
      width: 25%;
    }
  
    .grid > .medium-4 {
      width: 33.33333%;
    }
  
    .grid > .medium-5 {
      width: 41.66667%;
    }
  
    .grid > .medium-6 {
      width: 50%;
    }
  
    .grid > .medium-7 {
      width: 58.33333%;
    }
  
    .grid > .medium-8 {
      width: 66.66%;
    }
  
    .grid > .medium-9 {
      width: 75%;
    }
  
    .grid > .medium-10 {
      width: 83.33333%;
    }
  
    .grid > .medium-11 {
      width: 91.66667%;
    }
  
    .grid > .medium-12 {
      width: 100%;
    }
  }
  @media screen and (min-width: 64em) {
    .grid > .large-auto {
      -ms-flex: 1 1 0px;
      -webkit-box-flex: 1;
      flex: 1 1 0;
      width: auto;
    }
  
    .grid > .large-shrink {
      -ms-flex: 0 0 auto;
      -webkit-box-flex: 0;
      flex: 0 0 auto;
      width: auto;
    }
  
    .grid > .large-1 {
      width: 8.33333%;
    }
  
    .grid > .large-2 {
      width: 16.66667%;
    }
  
    .grid > .large-3 {
      width: 25%;
    }
  
    .grid > .large-4 {
      width: 33.33333%;
    }
  
    .grid > .large-5 {
      width: 41.66667%;
    }
  
    .grid > .large-6 {
      width: 50%;
    }
  
    .grid > .large-7 {
      width: 58.33333%;
    }
  
    .grid > .large-8 {
      width: 66.66%;
    }
  
    .grid > .large-9 {
      width: 75%;
    }
  
    .grid > .large-10 {
      width: 83.33333%;
    }
  
    .grid > .large-11 {
      width: 91.66667%;
    }
  
    .grid > .large-12 {
      width: 100%;
    }
  }
  @media screen and (min-width: 80em) {
    .grid > .xlarge-auto {
      -ms-flex: 1 1 0px;
      -webkit-box-flex: 1;
      flex: 1 1 0;
      width: auto;
    }
  
    .grid > .xlarge-shrink {
      -ms-flex: 0 0 auto;
      -webkit-box-flex: 0;
      flex: 0 0 auto;
      width: auto;
    }
  
    .grid > .xlarge-1 {
      width: 8.33333%;
    }
  
    .grid > .xlarge-2 {
      width: 16.66667%;
    }
  
    .grid > .xlarge-3 {
      width: 25%;
    }
  
    .grid > .xlarge-4 {
      width: 33.33333%;
    }
  
    .grid > .xlarge-5 {
      width: 41.66667%;
    }
  
    .grid > .xlarge-6 {
      width: 50%;
    }
  
    .grid > .xlarge-7 {
      width: 58.33333%;
    }
  
    .grid > .xlarge-8 {
      width: 66.66%;
    }
  
    .grid > .xlarge-9 {
      width: 75%;
    }
  
    .grid > .xlarge-10 {
      width: 83.33333%;
    }
  
    .grid > .xlarge-11 {
      width: 91.66667%;
    }
  
    .grid > .xlarge-12 {
      width: 100%;
    }
  }
  @media screen and (min-width: 100em) {
    .grid > .xxlarge-auto {
      -ms-flex: 1 1 0px;
      -webkit-box-flex: 1;
      flex: 1 1 0;
      width: auto;
    }
  
    .grid > .xxlarge-shrink {
      -ms-flex: 0 0 auto;
      -webkit-box-flex: 0;
      flex: 0 0 auto;
      width: auto;
    }
  
    .grid > .xxlarge-1 {
      width: 8.33333%;
    }
  
    .grid > .xxlarge-2 {
      width: 16.66667%;
    }
  
    .grid > .xxlarge-3 {
      width: 25%;
    }
  
    .grid > .xxlarge-4 {
      width: 33.33333%;
    }
  
    .grid > .xxlarge-5 {
      width: 41.66667%;
    }
  
    .grid > .xxlarge-6 {
      width: 50%;
    }
  
    .grid > .xxlarge-7 {
      width: 58.33333%;
    }
  
    .grid > .xxlarge-8 {
      width: 66.66%;
    }
  
    .grid > .xxlarge-9 {
      width: 75%;
    }
  
    .grid > .xxlarge-10 {
      width: 83.33333%;
    }
  
    .grid > .xxlarge-11 {
      width: 91.66667%;
    }
  
    .grid > .xxlarge-12 {
      width: 100%;
    }
  }
  @media screen and (min-width: 120em) {
    .grid > .xxxlarge-auto {
      -ms-flex: 1 1 0px;
      -webkit-box-flex: 1;
      flex: 1 1 0;
      width: auto;
    }
  
    .grid > .xxxlarge-shrink {
      -ms-flex: 0 0 auto;
      -webkit-box-flex: 0;
      flex: 0 0 auto;
      width: auto;
    }
  
    .grid > .xxxlarge-1 {
      width: 8.33333%;
    }
  
    .grid > .xxxlarge-2 {
      width: 16.66667%;
    }
  
    .grid > .xxxlarge-3 {
      width: 25%;
    }
  
    .grid > .xxxlarge-4 {
      width: 33.33333%;
    }
  
    .grid > .xxxlarge-5 {
      width: 41.66667%;
    }
  
    .grid > .xxxlarge-6 {
      width: 50%;
    }
  
    .grid > .xxxlarge-7 {
      width: 58.33333%;
    }
  
    .grid > .xxxlarge-8 {
      width: 66.66%;
    }
  
    .grid > .xxxlarge-9 {
      width: 75%;
    }
  
    .grid > .xxxlarge-10 {
      width: 83.33333%;
    }
  
    .grid > .xxxlarge-11 {
      width: 91.66667%;
    }
  
    .grid > .xxxlarge-12 {
      width: 100%;
    }
  }
  .grid-margin-x {
    margin-left: -0.35714rem;
    margin-right: -0.35714rem;
  }
  
  @media screen and (min-width: 26.25em) {
    .grid-margin-x {
      margin-left: -0.35714rem;
      margin-right: -0.35714rem;
    }
  }
  @media screen and (min-width: 48em) {
    .grid-margin-x {
      margin-left: -0.71429rem;
      margin-right: -0.71429rem;
    }
  }
  .grid-margin-x > .cell {
    margin-left: 0.35714rem;
    margin-right: 0.35714rem;
    width: calc(100% - .71429rem);
  }
  
  @media screen and (min-width: 26.25em) {
    .grid-margin-x > .cell {
      margin-left: 0.35714rem;
      margin-right: 0.35714rem;
      width: calc(100% - .71429rem);
    }
  }
  @media screen and (min-width: 48em) {
    .grid-margin-x > .cell {
      margin-left: 0.71429rem;
      margin-right: 0.71429rem;
      width: calc(100% - 1.42857rem);
    }
  }
  .grid-margin-x > .auto,
  .grid-margin-x > .shrink {
    width: auto;
  }
  
  .grid-margin-x > .xsmall-1 {
    width: calc(8.33333% - .71429rem);
  }
  
  .grid-margin-x > .xsmall-2 {
    width: calc(16.66667% - .71429rem);
  }
  
  .grid-margin-x > .xsmall-3 {
    width: calc(25% - .71429rem);
  }
  
  .grid-margin-x > .xsmall-4 {
    width: calc(33.33333% - .71429rem);
  }
  
  .grid-margin-x > .xsmall-5 {
    width: calc(41.66667% - .71429rem);
  }
  
  .grid-margin-x > .xsmall-6 {
    width: calc(50% - .71429rem);
  }
  
  .grid-margin-x > .xsmall-7 {
    width: calc(58.33333% - .71429rem);
  }
  
  .grid-margin-x > .xsmall-8 {
    width: calc(66.66% - .71429rem);
  }
  
  .grid-margin-x > .xsmall-9 {
    width: calc(75% - .71429rem);
  }
  
  .grid-margin-x > .xsmall-10 {
    width: calc(83.33333% - .71429rem);
  }
  
  .grid-margin-x > .xsmall-11 {
    width: calc(91.66667% - .71429rem);
  }
  
  .grid-margin-x > .xsmall-12 {
    width: calc(100% - .71429rem);
  }
  
  @media screen and (min-width: 26.25em) {
    .grid-margin-x > .small-auto,
  .grid-margin-x > .small-shrink {
      width: auto;
    }
  
    .grid-margin-x > .small-1 {
      width: calc(8.33333% - .71429rem);
    }
  
    .grid-margin-x > .small-2 {
      width: calc(16.66667% - .71429rem);
    }
  
    .grid-margin-x > .small-3 {
      width: calc(25% - .71429rem);
    }
  
    .grid-margin-x > .small-4 {
      width: calc(33.33333% - .71429rem);
    }
  
    .grid-margin-x > .small-5 {
      width: calc(41.66667% - .71429rem);
    }
  
    .grid-margin-x > .small-6 {
      width: calc(50% - .71429rem);
    }
  
    .grid-margin-x > .small-7 {
      width: calc(58.33333% - .71429rem);
    }
  
    .grid-margin-x > .small-8 {
      width: calc(66.66% - .71429rem);
    }
  
    .grid-margin-x > .small-9 {
      width: calc(75% - .71429rem);
    }
  
    .grid-margin-x > .small-10 {
      width: calc(83.33333% - .71429rem);
    }
  
    .grid-margin-x > .small-11 {
      width: calc(91.66667% - .71429rem);
    }
  
    .grid-margin-x > .small-12 {
      width: calc(100% - .71429rem);
    }
  }
  @media screen and (min-width: 48em) {
    .grid-margin-x > .medium-auto,
  .grid-margin-x > .medium-shrink {
      width: auto;
    }
  
    .grid-margin-x > .medium-1 {
      width: calc(8.33333% - 1.42857rem);
    }
  
    .grid-margin-x > .medium-2 {
      width: calc(16.66667% - 1.42857rem);
    }
  
    .grid-margin-x > .medium-3 {
      width: calc(25% - 1.42857rem);
    }
  
    .grid-margin-x > .medium-4 {
      width: calc(33.33333% - 1.42857rem);
    }
  
    .grid-margin-x > .medium-5 {
      width: calc(41.66667% - 1.42857rem);
    }
  
    .grid-margin-x > .medium-6 {
      width: calc(50% - 1.42857rem);
    }
  
    .grid-margin-x > .medium-7 {
      width: calc(58.33333% - 1.42857rem);
    }
  
    .grid-margin-x > .medium-8 {
      width: calc(66.66% - 1.42857rem);
    }
  
    .grid-margin-x > .medium-9 {
      width: calc(75% - 1.42857rem);
    }
  
    .grid-margin-x > .medium-10 {
      width: calc(83.33333% - 1.42857rem);
    }
  
    .grid-margin-x > .medium-11 {
      width: calc(91.66667% - 1.42857rem);
    }
  
    .grid-margin-x > .medium-12 {
      width: calc(100% - 1.42857rem);
    }
  }
  @media screen and (min-width: 64em) {
    .grid-margin-x > .large-auto,
  .grid-margin-x > .large-shrink {
      width: auto;
    }
  
    .grid-margin-x > .large-1 {
      width: calc(8.33333% - 1.42857rem);
    }
  
    .grid-margin-x > .large-2 {
      width: calc(16.66667% - 1.42857rem);
    }
  
    .grid-margin-x > .large-3 {
      width: calc(25% - 1.42857rem);
    }
  
    .grid-margin-x > .large-4 {
      width: calc(33.33333% - 1.42857rem);
    }
  
    .grid-margin-x > .large-5 {
      width: calc(41.66667% - 1.42857rem);
    }
  
    .grid-margin-x > .large-6 {
      width: calc(50% - 1.42857rem);
    }
  
    .grid-margin-x > .large-7 {
      width: calc(58.33333% - 1.42857rem);
    }
  
    .grid-margin-x > .large-8 {
      width: calc(66.66% - 1.42857rem);
    }
  
    .grid-margin-x > .large-9 {
      width: calc(75% - 1.42857rem);
    }
  
    .grid-margin-x > .large-10 {
      width: calc(83.33333% - 1.42857rem);
    }
  
    .grid-margin-x > .large-11 {
      width: calc(91.66667% - 1.42857rem);
    }
  
    .grid-margin-x > .large-12 {
      width: calc(100% - 1.42857rem);
    }
  }
  @media screen and (min-width: 80em) {
    .grid-margin-x > .xlarge-auto,
  .grid-margin-x > .xlarge-shrink {
      width: auto;
    }
  
    .grid-margin-x > .xlarge-1 {
      width: calc(8.33333% - 1.42857rem);
    }
  
    .grid-margin-x > .xlarge-2 {
      width: calc(16.66667% - 1.42857rem);
    }
  
    .grid-margin-x > .xlarge-3 {
      width: calc(25% - 1.42857rem);
    }
  
    .grid-margin-x > .xlarge-4 {
      width: calc(33.33333% - 1.42857rem);
    }
  
    .grid-margin-x > .xlarge-5 {
      width: calc(41.66667% - 1.42857rem);
    }
  
    .grid-margin-x > .xlarge-6 {
      width: calc(50% - 1.42857rem);
    }
  
    .grid-margin-x > .xlarge-7 {
      width: calc(58.33333% - 1.42857rem);
    }
  
    .grid-margin-x > .xlarge-8 {
      width: calc(66.66% - 1.42857rem);
    }
  
    .grid-margin-x > .xlarge-9 {
      width: calc(75% - 1.42857rem);
    }
  
    .grid-margin-x > .xlarge-10 {
      width: calc(83.33333% - 1.42857rem);
    }
  
    .grid-margin-x > .xlarge-11 {
      width: calc(91.66667% - 1.42857rem);
    }
  
    .grid-margin-x > .xlarge-12 {
      width: calc(100% - 1.42857rem);
    }
  }
  @media screen and (min-width: 100em) {
    .grid-margin-x > .xxlarge-auto,
  .grid-margin-x > .xxlarge-shrink {
      width: auto;
    }
  
    .grid-margin-x > .xxlarge-1 {
      width: calc(8.33333% - 1.42857rem);
    }
  
    .grid-margin-x > .xxlarge-2 {
      width: calc(16.66667% - 1.42857rem);
    }
  
    .grid-margin-x > .xxlarge-3 {
      width: calc(25% - 1.42857rem);
    }
  
    .grid-margin-x > .xxlarge-4 {
      width: calc(33.33333% - 1.42857rem);
    }
  
    .grid-margin-x > .xxlarge-5 {
      width: calc(41.66667% - 1.42857rem);
    }
  
    .grid-margin-x > .xxlarge-6 {
      width: calc(50% - 1.42857rem);
    }
  
    .grid-margin-x > .xxlarge-7 {
      width: calc(58.33333% - 1.42857rem);
    }
  
    .grid-margin-x > .xxlarge-8 {
      width: calc(66.66% - 1.42857rem);
    }
  
    .grid-margin-x > .xxlarge-9 {
      width: calc(75% - 1.42857rem);
    }
  
    .grid-margin-x > .xxlarge-10 {
      width: calc(83.33333% - 1.42857rem);
    }
  
    .grid-margin-x > .xxlarge-11 {
      width: calc(91.66667% - 1.42857rem);
    }
  
    .grid-margin-x > .xxlarge-12 {
      width: calc(100% - 1.42857rem);
    }
  }
  @media screen and (min-width: 120em) {
    .grid-margin-x > .xxxlarge-auto,
  .grid-margin-x > .xxxlarge-shrink {
      width: auto;
    }
  
    .grid-margin-x > .xxxlarge-1 {
      width: calc(8.33333% - 1.42857rem);
    }
  
    .grid-margin-x > .xxxlarge-2 {
      width: calc(16.66667% - 1.42857rem);
    }
  
    .grid-margin-x > .xxxlarge-3 {
      width: calc(25% - 1.42857rem);
    }
  
    .grid-margin-x > .xxxlarge-4 {
      width: calc(33.33333% - 1.42857rem);
    }
  
    .grid-margin-x > .xxxlarge-5 {
      width: calc(41.66667% - 1.42857rem);
    }
  
    .grid-margin-x > .xxxlarge-6 {
      width: calc(50% - 1.42857rem);
    }
  
    .grid-margin-x > .xxxlarge-7 {
      width: calc(58.33333% - 1.42857rem);
    }
  
    .grid-margin-x > .xxxlarge-8 {
      width: calc(66.66% - 1.42857rem);
    }
  
    .grid-margin-x > .xxxlarge-9 {
      width: calc(75% - 1.42857rem);
    }
  
    .grid-margin-x > .xxxlarge-10 {
      width: calc(83.33333% - 1.42857rem);
    }
  
    .grid-margin-x > .xxxlarge-11 {
      width: calc(91.66667% - 1.42857rem);
    }
  
    .grid-margin-x > .xxxlarge-12 {
      width: calc(100% - 1.42857rem);
    }
  }
  /*----------  GRID SYSTEM END  ----------*/
  /*================================
     =            PADDINGS            =
     ================================*/
  .padding--10 {
    padding: 10px;
  }
  .padding--15 {
    padding: 15px;
  }
  .padding--20 {
    padding: 20px;
  }
  
  .padding__top--0 {
    padding-top: 0px;
  }
  .padding__top--5 {
    padding-top: 5px;
  }
  .padding__top--10 {
    padding-top: 10px;
  }
  .padding__top--15 {
    padding-top: 15px;
  }
  .padding__top--20 {
    padding-top: 20px;
  }
  
  .padding__right--0 {
    padding-right: 0px;
  }
  .padding__right--5 {
    padding-right: 5px;
  }
  .padding__right--10 {
    padding-right: 10px;
  }
  .padding__right--15 {
    padding-right: 15px;
  }
  .padding__right--20 {
    padding-right: 20px;
  }
  
  .padding__bottom--0 {
    padding-bottom: 0px;
  }
  .padding__bottom--5 {
    padding-bottom: 5px;
  }
  .padding__bottom--10 {
    padding-bottom: 10px;
  }
  .padding__bottom--15 {
    padding-bottom: 15px;
  }
  .padding__bottom--20 {
    padding-bottom: 20px;
  }
  
  .padding__left--0 {
    padding-left: 0px;
  }
  .padding__left--5 {
    padding-left: 5px;
  }
  .padding__left--10 {
    padding-left: 10px;
  }
  .padding__left--15 {
    padding-left: 15px;
  }
  .padding__left--20 {
    padding-left: 20px;
  }
  .padding__left--30 {
    padding-left: 30px;
  }
  
  /*================================
  =            MARGINGS            =
  ================================*/
  .margin--auto {
    margin: 0 auto;
  }
  .margin--10 {
    margin: 10px;
  }
  .margin--20 {
    margin: 20px;
  }
  .margin--200 {
    margin: 20px 0;
  }
  
  .margin__top--0 {
    margin-top: 0px;
  }
  .margin__top--5 {
    margin-top: 5px;
  }
  .margin__top--10 {
    margin-top: 10px;
  }
  .margin__top--15 {
    margin-top: 15px;
  }
  .margin__top--20 {
    margin-top: 20px;
  }
  
  .margin__right--0 {
    margin-right: 0px;
  }
  .margin__right--5 {
    margin-right: 5px;
  }
  .margin__right--10 {
    margin-right: 10px;
  }
  .margin__right--15 {
    margin-right: 15px;
  }
  .margin__right--20 {
    margin-right: 20px;
  }
  
  .margin__bottom--0 {
    margin-bottom: 0px;
  }
  .margin__bottom--5 {
    margin-bottom: 5px;
  }
  .margin__bottom--10 {
    margin-bottom: 10px;
  }
  .margin__bottom--15 {
    margin-bottom: 15px;
  }
  .margin__bottom--20 {
    margin-bottom: 20px;
  }
  
  .margin__left--0 {
    margin-left: 0px;
  }
  .margin__left--5 {
    margin-left: 5px;
  }
  .margin__left--10 {
    margin-left: 10px;
  }
  .margin__left--15 {
    margin-left: 15px;
  }
  .margin__left--20 {
    margin-left: 20px;
  }
  
  .height--100 {
    height: 100%;
  }
  
  /*----------  END OF MARGINS  ----------*/
  /*==================================
  =            FONT SIZES            =
  ==================================*/
  .f--12 {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  .f--13 {
    font-size: 13px !important;
  }
  .f--14 {
    font-size: 14px !important;
  }
  .f--14-30 {
    font-size: 14px !important;
    line-height: 30px !important;
  }
  .f--16 {
    font-size: 16px !important;
    line-height: 20px !important;
  }
  .f--16-24 {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  .f--17 {
    font-size: 17px !important;
  }
  .f--18 {
    font-size: 18px !important;
  }
  .f--20 {
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .f--22 {
    font-size: 22px !important;
    line-height: 28px !important;
  }
  .f--28 {
    font-size: 28px !important;
    line-height: 36px !important;
  }
  .f--32 {
    font-size: 32px !important;
  }
  
  /*----------  END OF FONT SIZES  ----------*/
  /*==========================================
  =            ABSOLUTE POSITIONS            =
  ==========================================*/
  .bottom--5 {
    bottom: 5px;
  }
  .bottom--10 {
    bottom: 10px;
  }
  .bottom--15 {
    bottom: 15px;
  }
  
  .top--5 {
    top: 5px;
  }
  .top--10 {
    top: 10px;
  }
  .top--15 {
    top: 15px;
  }
  
  html {
    height: 100%;
  }
  
  .disintegration-container {
    position: absolute;
    pointer-events: none;
  }
  .disintegration-container > canvas {
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
    opacity: 1;
    transform: rotate(0deg) translate(0px, 0px) rotate(0deg);
  }
  
  @keyframes debug-pulse {
    0% {
      filter: none;
    }
    95% {
      filter: none;
    }
    95% {
      filter: drop-shadow(0 1px 0 red);
    }
    100% {
      filter: drop-shadow(0 1px 0 red);
    }
  }
  /* == Normal styling below == */
  /* body {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #eee;
    font-family: Roboto, sans-serif;
    width:auto;
  } */
  body * {
    box-sizing: border-box;
  }
  
  .thanos {
    max-width: 80%;
    height: auto;
    width: 100%;
    align-self: center;
  }
  
  .container {
    min-height: 100%;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .item {
    background: #fff;
    box-sizing: border-box;
    margin-bottom: 1em;
    padding: 1em;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    min-height: 350px;
  }
  .item:hover {
    background: rgba(255, 0, 0, 0.9);
    opacity: 0.8;
  }
  .item h1 {
    margin-top: 0;
    font-size: 1.7rem;
  }
  .item p {
    margin-bottom: 0;
    font-size: 1.2rem;
  }
  .item img {
    max-width: 100%;
    height: auto;
  }
  
  /*# sourceMappingURL=index.css.map */
  