@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}

.subheader-menu {
  color: black;
}


.subheader-menu{
  display: flex !important;
  justify-content: start;
  align-items: center;
  /* background-color: aquamarine; */
  padding-left: 16px !important;
  padding: 4px;
}

.dropdown-item{
  display: flex !important;
 justify-content: space-between;
 align-items: center; 
}
.header_text_genz{
  color: rgba(34, 30, 30, 0.62) ;
  font-family:sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0.03em;
text-align: left;
/* font-family: "poppins"; */
}

.menu_header_gz{
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  /* font-family: "poppins"; */
}
/* 
.chev_right{
  height: 18px;
  aspect-ratio: 1/1;
  /* font-family: "poppins"; */
/* } */ */


.submenu_total{
  margin-top: 24px;
  /* font-family: "poppins"; */
}