@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --bs-white: #FFFFFF;
  --bs-blue: #003F88;
  --bs-red: #E2261A;
  --bs-black: #000000;
  --bs-dark-grey: #333333;
  --bs-sec-grey: #666666;
  --bs-border-grey: #b3b3b3;
  --bs-primary: #25335D;
  --bs-primary-hover: rgb(102, 0, 69);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: var(--bs-dark-grey);
  background: #FFFFFF;
}

::-webkit-input-placeholder {
  /* Edge */
  color: rgba(0, 0, 0, 0.05);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.05);
}

::placeholder {
  color: rgba(0, 0, 0, 0.05);
}

.navbar-brand img {
  height: 36px;
}

header {
  padding: 12px 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

a {
  color: var(--bs-blue);
  text-decoration: underline;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
}

h1 {
  font-size: 42px
}

h2 {
  font-size: 36px
}

h3 {
  font-size: 30px
}

h4 {
  font-size: 24px
}

h5 {
  font-size: 20px
}

h6 {
  font-size: 16px
}

.text-bg-dark {
  background: linear-gradient(270deg, #222745 0%, #005D99 60%), #25335D;
  box-shadow: 0px 6px 20px 0px rgba(0, 63, 136, 0.03);
}

.card {
  background: #f9f9f9;
  border: 1px solid #e7e9ed;
}

.card-body {
  color: var(--bs-dark-grey);
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
  margin-bottom: 4px;
}

.form-control,
.form-select {
  padding: 14px 16px;
  background-color: var(--bs-white);
  border: 1px solid var(--bs-border-grey);
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--bs-dark-grey);
}

.form-check-input {
  width: 20px;
  height: 20px;
  border: 1px solid var(--bs-border-grey);
  margin-top: 0;
}

.form-check-label {
  font-size: 12px;
  line-height: 20px;
  color: #666666;
  margin-left: 8px;
  font-weight: 400;
}

.p-check .form-check {
  margin-bottom: 10px;
}

.btn {
  border-radius: 8px;
  padding: 13px 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.btn-primary {
  background: #0081B8;
  border-color: #0081B8;
}

.btn-primary:hover {
  background-color: #006EA8;
  border-color: #006EA8;
}

.btn-warning {
  background: #F58D4D;
  border-color: #F58D4D;
  color: var(--bs-white);
}

.btn-warning:hover {
  background: #F37021;
  border-color: #F37021;
}