@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");

.dashboard_data {
  position: relative;
  top: 5%;
  padding-bottom: 24px !important;
}
.zindex{
 /* z-index: 999 !important; */
}
.offcanvas.show{

}
.close_btn{
  position: absolute;
  top: 1%;
  right: 4%;
  padding: 8px !important;
  border: 1px solid rgba(2, 44, 88, .4) !important;
}
.logout{
  position: absolute;
  bottom: 10%;
  right: 4%;
 
}
.btnLogout{
  border: 1px solid rgba(204, 55, 91, .4) !important;
  padding: 4px 10px!important;
  border-radius: 4px !important;
  background-color: rgb(204, 55, 91);
  color: white;
}
.offcanvas{
  background-color: rgb(255, 255, 255) !important;
  width: 70vw !important;

}
.agentc_name {
  font-family: Lato;
  font-size: 10px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}

.agents_img {
  border-radius: 0px 0px 0px 6px;
  /* width: 70px; */
  height: 100%;
  width: 64px;
}
.agents_detail_scroll {
  overflow-x: scroll;
  display: flex;
  margin-top: 10px;
}
.agents_detail_scroll::-webkit-scrollbar {
  height: 1px;             
  width: 1px;                
  color: transparent;
}

.agents_detail {
  width: 280px;
  margin-right: 24px;
}
.agents_data_head {
  display: grid;
  grid-template-columns: auto auto;
  width: 100vw;
  padding: 4px 24px 4px 24px;
}
.agents_data {
  font-family: Lato;
  font-size: 6px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(51, 51, 51, 0.74);
}
.agents_val {
  font-family: Lato;
  font-size: 8px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(51, 51, 51, 1);
}

.KeyfeatureIcons {
  width: 48px;
}

.KeyfeatureVal {
  font-family: Raleway;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 6px 0px;
}

.KeyfeatureBoxTop {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 90vw;
}

.KeyFeature_detail {
  display: grid;
  grid-template-columns: auto auto auto;
}

.KeyfeatureBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 10px 0px 10px;
}
.AddAgentIcons {
  width: 24px;
}

/* AGENT  */

.Agent_detail {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
}
.Agent_detailBoxTop {
  display: grid;
  grid-template-columns: auto auto auto;
width: 90vw;

}

.welcomebackmd {
  z-index: 2;
  /* background-color: white; */
  position: absolute;
  top: 42%;
  width: 100vw;
  height: 48vh;
  overflow-y: scroll;
  /* margin-bottom: 50px; */
  /* border: 1px solid red; */
  /* clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%); */
}

.welcomebackmd::-webkit-scrollbar {
  height: 1px;             
  width: 1px;                
  color: transparent;
}

.bgImgMD {
    background-image: url(../../Common/asset/images/voteimg/login_background.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 90vh;
    background-color: (0, 0, 0, 1);
    /* clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%); */
    /* clip-path: circle(50% at 50% 0); */
    clip-path: circle(50% at 50% -2%);
    display: flex;
    overflow-x: scroll;
    z-index: 1 !important;
  }
  .bgImgMD::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 44, 88, .4); /* Adjust the color and transparency as needed */
  }
.md_ballot {
 

z-index: 1;
 overflow-x: scroll;
  width: 280px !important;
  /* height: 100px; */
}

.md_ballot::-webkit-scrollbar {
  height: 1px;             
  width: 1px;                
  color: transparent;
}

.blog_scroll {
  position: absolute;
  overflow-x: scroll;
  display: flex;
  margin-top: 10px;
  width: 100%;
  height: 200px;
  top: 9%;
}
.blog_scroll::-webkit-scrollbar {
  height: 1px;             
  width: 1px;                
  color: transparent;
}

.blog{
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  /* -webkit-backdrop-filter: blur(20px) !important; */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 12px;
  margin: 10px 24px;
  width: 100%;
height:   120px;
display: flex;
flex-direction: column;
}
.blogHeading{
    font-family: Raleway;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0.03em;
text-align: left;
color: rgba(255, 255, 255, 1);
}
.blog_content{
    font-family: Raleway;
font-size: 10px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0.02em;
text-align: left;
color: rgba(255, 255, 255, 0.8);
width: 65vw;
height:   100px;
}
.logot{
  z-index: 100;
  backdrop-filter: blur(0px);
  width: 70px;
}
.logot1{
  z-index: 100;
  backdrop-filter: blur(0px);
 
}