



.footer {
    position: fixed;
    bottom: 0%;
    background-color: rgba(126, 124, 124, 0.1);
    width: 100vw;
    padding: 10px 0px;
    z-index: 101;
    /* margin-top: 50px; */
    opacity: 1;
    backdrop-filter: blur(100px);
  }
  
  .Footer_icon {
    width: 20px;
  }
  .Footer_iconS {
    width: 64px;
    margin-top: -40px;
 


  }
  .footer_tag {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }


.footer_text {
  color: rgba(157, 178, 206, 1);
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: center;
}
